/*页面公共样式*/
/*定义滚动条高宽及背景 高宽分别对应横竖滚动条的尺寸
下面样式只针对webkit内核浏览器*/
::-webkit-scrollbar
{
    width: 10px;
    height: 10px;
    background-color: #ffffff;
}

/*定义滚动条轨道 内阴影+圆角*/
::-webkit-scrollbar-track
{
    -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
    border-radius: 8px;
    background-color: #ffffff;
}

/*定义滑块 内阴影+圆角*/
::-webkit-scrollbar-thumb
{
    border-radius: 8px;
    -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,.3);
    background-color: #AFEEEE;
}
/*订单状态样式*/
.order-status{
    color: blue;
    font-weight: bold;
}
/*设置工具条样式*/
.toolbar{
    padding: 10px!important;
    display: flex;
    justify-content: flex-end;
    align-items: center;
}
.toolbar .el-form-item{
    margin-top: 0px;
    margin-bottom: 0px!important;
}
/*分页工具样式*/
.el-pagination{
    margin-top: 10px;
}
/*弹出窗title样式*/
.el-dialog__header{
    background: #f2f2f2;
}
.el-dialog__footer{
    border-top: 1px solid #f2f2f2;
}
.el-dialog__body{
    max-height: 500px;
    overflow-y: auto;
}
